:root {
    /* --primary-color: #3498db;
    --secondary-color: #2ecc71; */
    --dourado: #d4ab00;
    --dourado-sombra: #634c29;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 2000px;
}
.banner-site{
    width: 100%;
    height: 90vh;
    background-image: url('img/logo.gif');
    background-position-x: -300px;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: 1400px;
    background-color: rgba(19, 19, 19);
}
.banner-site-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19,0.95);
}
.banner-site nav{
    width: 100%;
    padding: 0px 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* backdrop-filter: blur(10px); */
}
nav img{
    width: 70px;
}
.menu-desktop{
    width: 700px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.menu-desktop a{
    color: var(--dourado);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.menu-desktop a:hover{
    color: #fff;
    text-decoration: underline;
}

.text-banner-site{
    width: 100%;
}